<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>Hello <%= @name %>,</p>
  <p>I hope this message finds you well. I wish to extend my warmest congratulations on your acceptance into our program and to invite you to our orientation session. We are excited to have you on board.</p>
  
  <p>Being part of this training will open up incredible opportunities for growth, collaboration, and learning. You'll have the chance to connect with like-minded individuals, engage in insightful discussions and make wonderful contributions.</p>
  
  <p>To kickstart your journey with us, we are organising an orientation session for all students. Please find details as follows:</p>
  <p>Date: Saturday, 2nd September, 2023.</p>
  <p>Time: 8-9pm</p>
  <p>Meeting link: <a href="https://meet.google.com/pch-jtrf-jqw">https://meet.google.com/pch-jtrf-jqw</a></p>
  
  <p>During the orientation, you will have the opportunity to get acquainted with the program and get answers to any questions you may have. We highly encourage your participation.</p>
  
  <p>Should you have any questions or concerns about the session, please feel free to reach out. We wish you the very best.</p>
  
  <p>Warm regards,<br>
  Ayebea Koranteng,<br>
  Program Manager,<br>
  SlightlyTechie School.</p>
</body>
</html>

